CMakeCache.txt
CTestTestfile.cmake
CMakeFiles/*
.deps/
src/rmsd/.deps/
src/.dirstamp
cmake_install.cmake
tungsten
data/trj-*.nc
Makefile
include/config.h
TestCSparse
TestReductions
Testing/
libobjects.a
